.hero {
	height: 93vh;
	background-image: linear-gradient(
			to right bottom,
			rgba($color-primary-light, 0.8),
			rgba($color-primary-dark, 0.8)
		),
		url(/src/img/tokyo-1.gif);
	background-size: cover;
	background-position: top;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);

	&__logo-box {
		position: absolute;
		top: 4rem;
		left: 4rem;
	}

	&__logo {
		height: 5rem;

		&--1 {
			transform: translateY(0);
		}
		&--2 {
			transform: translateY(5px);
		}
	}

	&__text-box {
		position: absolute;
		display: flex;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		justify-content: center;
	}

	&__profile-pic {
		width: 250px;
		height: 250px;
		border-radius: 50%;
		transform: translate(20%, 0%);
	}
}
